
# Example: syn-boost

## Eight real dataset: identical distribution
tab-ddpm/data/**/*
tab-ddpm/exp/**/*

## Adult
tab-ddpm/synpred/transfer_adult/ddpm_sample_test/*
tab-ddpm/synpred/transfer_adult/*.pkl


## Simulation
tab-ddpm/synpred/sim_prediction/temp/*


# Example: syn-test
tab-ddpm/syninf/prep_twin.py
tab-ddpm/syninf/prep_model.py

## California
tab-ddpm/syninf/california/syngen_inf_result/*

## Adult
tab-ddpm/syninf/adult_female_3000/syngen_inf_result/*

## Aimulation
tab-ddpm/syninf/sim_inference/ckpt/inf*/**/*
tab-ddpm/syninf/sim_inference/results/*result*


# Example: sentiment analysis
sentiment/ckpt/*
sentiment/data/*
sentiment/lightning_logs/**/*
sentiment/result/pred_dict.pkl

# Example: synthetic tabular data for regression
conditional/ckpt/*
conditional/data/*
conditional/result/*


# Miscellaneous
**/__pycache__/**/*
**/catboost_info/**/*
**/temp/**/*

# Exceptions
!**/.gitkeep