
# example: syn-boost
## eight real dataset: identical distribution
tab-ddpm/data/**/*
tab-ddpm/exp/**/*

## transfer learning from Adult-Male to Adult-Female
tab-ddpm/synpred/transfer_adult/ddpm_sample_test/*
tab-ddpm/synpred/transfer_adult/*.pkl


## simulation
tab-ddpm/synpred/sim_prediction/temp/*


# example: syn-test

## simulation
tab-ddpm/syninf/sim_inference/ckpt/inf*/**/*
tab-ddpm/syninf/sim_inference/results/*result*


# example: sentiment analysis
sentiment/ckpt/*
sentiment/data/*
sentiment/lightning_logs/**/*
sentiment/result/pred_dict.pkl

# example: synthetic tabular data for regression
conditional/ckpt/*
conditional/data/*
conditional/result/*


# miscellaneous
**/__pycache__/**/*
**/catboost_info/**/*
**/temp/**/*

# exceptions
!**/.gitkeep