
# example: syn-boost
tab-ddpm/data/**/*
tab-ddpm/exp/**/*



# example: sentiment analysis
sentiment/ckpt/*
sentiment/data/*
sentiment/lightning_logs/**/*
sentiment/result/pred_dict.pkl

# example: synthetic tabular data for regression
conditional/ckpt/*
conditional/data/*
conditional/result/*


# miscellaneous
**/__pycache__/**/*
**/catboost_info/**/*
**/temp/**/*

# exceptions
!**/.gitkeep